<div class="row-fluid">
  <div>

    <!-- Content -->
    <div class="row-fluid">
      <div class="span7">
        <h1>
       	  Mockup for input in Webcert
        </h1>
      </div>
    </div>
    <section id="certificate" class="certificate">

      <div class="row-fluid">
        <div class="span12">
          <div class="cert">
            <div class="cert-body">
              <form name="rliForm">
		
		<div class="body-row">           
		  <pre>
		    {{cert | json}}
		  </pre>
          	</div>	  

		
		<div class="body-row">
		  <span class="title">Information om resa</span> 

		  <div style="margin:10px">
		    <div id="left-col" style="position:absolute; left:0;">
		      <span class="text" style="display:block; padding:10px;">Avbeställing avser resa till:</span>
		      <span class="text" style="display:block; padding:10px;">Avresedatum för resan:</span>
		      <span class="text" style="display:block; padding:10px;">Bokningsnummer:</span>
		      <span class="text" style="display:block; padding:10px;">Inbokningsdatum:</span>
		    </div>
		    
		    <div id="right-col" style="position:relative; left:300px; top:0px;">
		      <input type="text" style="display:block;" name="patient_fornamn" ng-model="cert.arrangemang.plats">
		      <input type="text" style="display:block;" name="patient_mellannamn" ng-model="cert.arrangemang.arrangemangsdatum">
		      <input type="text" style="display:block;" name="patient_efternamn" ng-model="cert.arrangemang.bokningsreferens">
		      <input type="text" style="display:block;" name="patient_id" ng-model="cert.arrangemang.bokningsdatum"/>
		    </div>
		  </div>		      		    		    				  				  
		</div><!--body-row -->
		
		<div class="body-row">
		  <span class="title">Om den aktuella sjukdomen:</span>

		  <div style="margin:10px">
		    <div id="left-col" style="position:absolute; left:0;">
		      
		    </div>
		    
		    <div id="right-col" style="position:relative; left:300px; top:0px; width:60%">
		      <fieldset>
			<input style="display:inline; margin-bottom:10px;" type="radio" 
			       ng-model="cert.rekommendation.sjukdomskannedom" value="SJK1"> Sjukdomen/komplikationen var okänd vid bokningstillfälllet.<br/>

			<input style="display:inline;" type="checkbox" ng-model="show_opts" value="fold">
			<label style="display:block; margin-left:25px; margin-top:-20px;">
			  Patientens sjukdom/komplikation är kronisk,
			  var känd vid bokningstillfället och utgjorde då inget hinder för resan.
			  Tillståndet för nu förvärrats på ett sätt som vid bokningstillfället.<br/>
			</label>

			<!-- div for hidden modifying options to above-->
			<div style="position:relative; width:100%;">
			  <!-- Only show if show_opts -->
			  <div ng-show="show_opts" style="margin-left:40px;">
			    <input style="padding-bottom: 10px; margin:10px; " type="radio" 
				   ng-model="cert.rekommendation.sjukdomskannedom" value="SJK2"> ej var möjligt att förutse.<br/>
			  </div>
			  <!-- Only show if show_opts -->
			  <div ng-show="show_opts" style="margin-left:40px;">
			    <input style="padding-bottom: 10px; margin:10px;" type="radio" 
				   ng-model="cert.rekommendation.sjukdomskannedom" value="SJK3"> var möjlig att förutse.<br/>
			  </div>
			</div><!-- end hidden-->

			<input style="display:inline;" type="radio" 
			       ng-model="cert.rekommendation.sjukdomskannedom" value="SJK4"> Inget av ovanstående är lämpligt. Ange annat:<br/>			
			
			<div style="margin-left:20px;" ng-show="cert.rekommendation.sjukdomskannedom =='SJK4'">
			  <textarea ng-model="cert.rekommendation.beskrivning" rows="5"  style="resize:none; margin-top:10px; width:100%;">
			  </textarea>
			</div>
		      </fieldset>
		    </div>
		  </div>	
		</div><!-- body-row-->
		
		<div class="body-row">
		  <span class="title">Plats och datum för första undersökning:</span>
		  <div id="left-col" style="position:absolute; left:0;">
		    
		  </div>
		  
		  <div id="right-col" style="position:relative; left:300px; top:0px;">
		    <fieldset style="margin-left:10px;">
		      <input style="padding-bottom: 10px;" type="radio"
			     ng-model="cert.undersokning.komplikationStyrkt" value="AV_HOS_PERSONAL">
		      <span style="margin-left:10px;"> Det finns styrkt att diagnosen finns sedan: </span> <br/>
		      <input style="padding-bottom: 10px;" type="radio"
			     ng-model="cert.undersokning.komplikationStyrkt" value="AV_PATIENT">
		      <span style="margin-left:10px;"> Patienten uppger att diagnosen finns sedan: </span> <br/>
		      <div style="margin-top:10px;">
			<input type="text" ng-model="cert.undersokning.forstaUndersokningsdatum" placeholder="Datum"/>
			<input type="text" ng-model="cert.undersokning.forstaUndersokningsplats" placeholder="Plats"/><br/>
		      </div>
		    </fieldset>
		  </div>
		  
		</div><!-- body-row-->

		<div class="body-row">
		  <span class="title">Plats och datum för den undersökning som ligger till grund för detta utlåtande:</span>

		  <div id="left-col" style="position:absolute; left:0;">
		    
		  </div>
		  
		  <div id="right-col" style="position:relative; left:300px; top:0px;">
		    <fieldset>
		      <div style="padding:10px;">
			<input type="text" ng-model="cert.undersokning.undersokningsdatum" placeholder="Datum"/>
			<input type="text" ng-model="cert.undersokning.undersokningsplats" placeholder="Plats"/><br/>
		      </div>
		    </fieldset>
		  </div>
		  
		</div><!-- body-row-->
		
		<div class="body-row">
		  <span class="title">Rekommendation - Fylls i då resenär är sjuk:</span> 

		  <div id="left-col" style="position:absolute; left:0;">
		    
		  </div>
		  
		  <div id="right-col" style="position:relative; left:300px; top:0px; width:60%;">
		    <fieldset style="margin-left:10px;">
		      <input style="display:inline;" type="radio" name="patient_sjuk_check_1"
			     ng-model="cert.rekommendation.rekommendationskod"  value="REK1"/>
		      <label style="display:block; margin-left:25px; margin-top:-20px;">
			Jag avråder uttryckligen från resa, då patientens/resenärens tillstånd innebär, att sådan ej kan genomföras utan men.</label>
		      <input style="display:inline;" type="radio" name="patient_sjuk_check_1"
			     ng-model="cert.rekommendation.rekommendationskod" value="REK2"/>
		      <label style="display:block; margin-left:25px; margin-top:-20px;">
			Jag avråder ej från resa. Patientens = resenärens tillstånd utgör inget hinder för resa.</label>	      
		    </fieldset>
		    
	          </div>
		  
		</div>
		
		
		<div class="body-row">
		  <span class="title">Rekommendation - Fylls i då resenär är gravid:</span> 
		  <div id="left-col" style="position:absolute; left:0;">
		    <span style="display:block; margin:10px;">Barnet beräknas födas:</span>
		    
		  </div>
		  
		  <div id="right-col" style="position:relative; left:300px; top:0px; width:60%;">
		    <fieldset style="margin:10px;">
		      
		      <input style="display:block;" type="text" name="fodseldatum" ng-model="cert.undersokning.graviditet.beraknatforlossningsdatum"/>
		      
		      <input style="display:inline;" type="radio" name="patient_sjuk_check_1"
			     ng-model="cert.rekommendation.rekommendationskod"  value="REK3"/>
		      <label style="display:block; margin-left:25px; margin-top:-20px;">
			Jag avråder uttryckligen från resa. Komplikationer i graviditeten har uppkommit efter bokning av resan, vilka innebär hinder för resa.</label>
		      <input style="display:inline;" type="radio" name="patient_sjuk_check_1"
			     ng-model="cert.rekommendation.rekommendationskod" value="REK4"/>
		      <label style="display:block; margin-left:25px; margin-top:-20px;">
			Jag avråder ej från resa. Graviditeten utgör inget medicinskt hinder för resa.</label>
		    </fieldset>
	          </div>
		  
		</div>
		
		<div class="body-row">
		  <span class="title">Övriga upplysningar:</span> 
		  <div id="left-col" style="position:absolute; left:0;">
		    
		  </div>
		  
		  <div id="right-col" style="position:relative; left:300px; top:0px; width:60%;">
		    <div style="margin:10px;">
		      <textarea ng-model="cert.kommentarer" style="resize:none; width:100%;">
		      </textarea>
		    </div>
	          </div>
		  
		</div>

		<div class="body-row">
		  <span class="title">Om vårdenheten:</span> 
		  <div id="left-col" style="position:absolute; left:0;">

		  </div>
		  
		  <div id="right-col" style="position:relative; left:300px; top:0px; width:60%;">
		    <div style="margin:10px;">
		      <div style="position:relative;left:0; top:0;">
			<span style="padding-bottom: 10px; display:block; font-weight:bold;">Enhetsnamn:</span>
			<span style="padding-bottom: 10px; display:block; font-weight:bold;">Postadress:</span>
			<span style="padding-bottom: 10px; display:block; font-weight:bold;">Postort:</span>
			<span style="padding-bottom: 10px; display:block; font-weight:bold;">Postnummer:</span>
			<span style="padding-bottom: 10px; display:block; font-weight:bold;">Telefon:</span>
			<span style="padding-bottom: 10px; display:block; font-weight:bold;">Epost:</span>
		      </div>
		      
		      <div style="position:absolute; left: 150px; top:0px;">
			<span style="padding-bottom: 10px; display:block;">{{cert.skapadAv.vardenhet.enhetsnamn}}</span>
			<span style="padding-bottom: 10px; display:block;">{{cert.skapadAv.vardenhet.postadress}}</span>
			<span style="padding-bottom: 10px; display:block;">{{cert.skapadAv.vardenhet.postort}}</span>
			<span style="padding-bottom: 10px; display:block;">{{cert.skapadAv.vardenhet.postnummer}}</span>
			<span style="padding-bottom: 10px; display:block;">{{cert.skapadAv.vardenhet.telefonnummer}}</span>
			<span style="padding-bottom: 10px; display:block;">{{cert.skapadAv.vardenhet.epost}}</span>
		      </div>		      	              
		    </div>
	          </div>
		  
		</div>

		<div class="body-row">
		  <input class="btn" style="margin:10px; border:1px solid black;"
			 type="button" value="Spara utlåtande" id="submit" name="submit" ng-click="saveCert()" />
		</div> 

		<!-- end of rows-->
	      </form>
            </div> <!-- end of cert-body-->
            
	  </div><!-- end of cert-->
	</div>
      </div>
    </section>
    
  </div>
</div>
