<div class="row-fluid">
  <div>

    <!-- Content -->
    <div class="row-fluid">
      <div class="span7">
        <h1>
       	  Mockup for input in Webcert
        </h1>
      </div>
    </div>
    <section id="certificate" class="certificate">

      <div class="row-fluid">
        <div class="span12">
          <div class="cert">
            <div class="cert-body">
   	          <form name="rliForm">
		
				<div class="body-row">
					<span class="title">Lista av intyg</span>
					    <div style="margin-left:10px;" ng-repeat="cert in draftList">
					    	<a href="#/edit/{{cert}}">{{cert}}</a>					   
						</div> 
				</div>
	    	  	</form>
            	</div> <!-- end of cert-body-->            
	  		</div><!-- end of cert-->
		</div>
      </div>
    </section>

  </div>
</div>
