<div id="send-certificate-flow-root" class="row-fluid">

  <div id="backnav" class="row-fluid">
    <a class="backlink" href ng-click="backToViewCertificate()"><span message key="button.goback"></span></a>
  </div>

  <!-- Content -->
  <div class="row-fluid">
    <div class="span7">
      <h1>
        <span message key="recipient.label.pagetitle"></span>
      </h1>
      <p>
      <h2>
        <span message key="recipient.label.recipientlisttitle"></span>
      </h2>

      <span ng-repeat="r in recipientList">
      <label class="radio control-label" for="recipient-{{r.id}}">
        <input type="radio" value="{{r.id}}" ng-model="$parent.selectedRecipientId" name="recipientSelection" id="recipient-{{r.id}}" />{{r.recipientName}}</label> 
      </span>
      

      <h2>
        <span message key="recipient.label.recipientlisttitle.others"></span>
      </h2>
      <p>
      <a ng-href="{{downloadAsPdfLink}}"><span message key="recipient.label.downloadlink" target="_blank"></span></a>
      </p>
      <p>
        <input id="confirmRecipientSelectionBtn" type="button" ng-click="confirmRecipientSelection()" value="Nästa" class="btn btn-success" /> <input id="cancelRecipientSelectionBtn" type="button"
          ng-click="backToViewCertificate()" value="Avbryt" class="btn btn-link" />
      </p>
    </div>
  </div>
</div>
