<div class="row-fluid">

  <div id="backnav" class="row-fluid">
    <a class="backlink" href="/web/start"><message key="button.goback" /></a>
  </div>

  <!-- Content -->
  <div class="row-fluid">
    <div class="span7">
      <h1>
        <message key="confirm.label.pagetitle"></message>
      </h1>
      <p>
      <h2>
        <message key="confirm.label.certrowtitle"></message>
      </h2>
      <span class="span12 well"> {{cert.skickatSatum}} <message key="certificatetypes.{{cert.typ}}.commonname"></message> <message key="certificatetypes.{{cert.typ}}.typename"></message>
        {{cert.aktivitetsbegransningar[0].arbetsformaga.arbetsformagaNedsattningar[0].varaktighetFrom | date:'longDate'}} &ndash;
        {{cert.aktivitetsbegransningar[0].arbetsformaga.arbetsformagaNedsattningar[0].varaktighetTom | date:'longDate'}} 
        {{cert.vardenhet.namn}}
      </span>
      </p>
      <h2>
        <message key="confirm.label.recipienttitle"></message>
      </h2>
      <span class="span12 well">{{selectedRecipient.recipientName}}</span>

      <message key="confirm.label.verifytext" target="_blank"></message>
      <p>
        <input id="confirmAndSendBtn" type="button" ng-click="confirmAndSend" value="Skicka" class="btn btn-success" /> <input id="cancelSendBtn" ng-click="cancel()" value="Avbryt"
          class="btn btn-link" />
      </p>
    </div>
  </div>
</div>
