<div id="send-certificate-flow-root" class="row-fluid">
  <!-- Content -->
  <div class="row-fluid">
    <div class="span12">
      <h1>
        <span message key="sent.label.pagetitle"></span>
      </h1>
      <p id="send-certificate-flow-result">
        <span message key="sent.label.result"></span><br>
        <b>{{getRecipientName(selectedRecipientId)}}</b>
      </p>
      <p class="btn-row">
        <button id="backToViewCertificateBtn" type="button" ng-click="backToViewCertificate()" class="btn btn-success">
          <span message key="sent.button.backtocertificate"></span>
        </button>
      </p>
    </div>
  </div>
</div>
