<div class="row-fluid">


  <!-- Content -->
  <div class="row-fluid">
    <div class="span12">
      <h1>
        <message key="sent.label.pagetitle"></message>
      </h1>
      <p>
        <message key="sent.label.result"></message>
        <b>{{getRecipientName(selectedRecipientId)}}</b>
      </p>
      <p>
        <input id="backToViewCertificateBtn" type="button" ng-click="backToViewCertificate()" value="Tillbaka till Intyget" class="btn btn-success" />
      </p>
    </div>
  </div>
</div>
