<div class="row-fluid">

  <!-- Loading spinner: visibility defined by $scope.doneLoading  -->
  <div ng-hide="doneLoading" style="text-align: center; padding: 20px;">
    <img src="/img/ajax-loader.gif" style="text-align: center;" />
    <p style="text-align: center; color: #64ABC0; margin-top: 20px;">
      <strong><message key="view.message.certificateloading" /></strong>
    </p>
  </div>


  <!-- Modals: visibility defined by $scope.doneLoading -->
  <div modal="shouldBeOpen" close="close()" options="opts">
    <div class="modal-header">
      <button class="close" ng-click="close()">×</button>
      <h3>Intyget har skickats till Försäkringskassan</h3>
    </div>
    <div class="modal-body">
      <p>Ärendet behandlas nu av Försäkringskassan.</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="close()">OK</button>
    </div>
  </div>

  <ul id="tabs">
    <li class="" onclick="javascript:window.location='/web/start'"><img src="/img/inkorg_icon.png" /> <message key="view.label.inbox" /></li>
    <li class="disabled" onclick="javascript:window.location='/web/start#arkiverade'"><img src="/img/borttagna_icon.png" /> <message key="view.label.archived" /></li>
  </ul>

  <div id="backnav" class="row-fluid">
    <a class="backlink" href="/web/start"><message key="button.goback" /></a>
  </div>



  <!-- Content -->

  <div class="row-fluid">
    <div class="span7">
      <h1>
        <message key="view.label.pagetitle" />
      </h1>
      <p>
        <message key="view.label.pagedescription" />
      </p>
      <form id="view-as-pdf" action="/api/certificate/dfb6d8a7-47f1-4a76-9bf2-7bc712298dc5.pdf" method="get" target="_blank">
        <p class="btn-row">
          <button type="button" ng-click="open()" class="btn btn-success">
            <message key="button.send" />
          </button>
          <button id="downloadprint" type="submit" class="btn btn-inverse">
            <message key="button.downloadprint" />
          </button>
        </p>
      </form>
    </div>
    <div class="span5 eventbox">
      <h2>Senaste händelsen</h2>
      <p>Inga händelser</p>
      <!--  <ul>
        <li>Skickat till Försäkringskassan</li>
      </ul>
      <a href="#allEventsModal" role="button" data-toggle="modal" onclick="return false">Visa alla händelser</a> -->
    </div>
  </div>
  <section id="certificate" class="certificate">
    <div class="row-fluid">
      <div class="span12">
        <div class="cert">
          <div class="cert-titlebar">
            <div class="row-fluid">
              <div class="span6">
                <h2>
                  <span><message key="certificatetypes.{{cert.typ}}.commonname" /></span> <span class="cert-titlebar-type"><message key="certificatetypes.{{cert.typ}}.typename" /></span>
                </h2>
              </div>
              <div class="span5 issue">
                <span><message key="view.label.issued" /></span>
                <span class="cert-titlebar-value">{{cert.signeringsdatum | date:'longDate'}}</span>
              </div>
              <div class="span1 archive">
                <a href="#archiveModal" role="button" data-toggle="modal" onclick="return false"><img alt="Arkivera intyg" src="/img/archive-icon.gif" /></a>
              </div>
            </div>
          </div>
          <div class="cert-header">
            <div class="row-fluid">
              <div class="span6">
                <span class="tag"><message key="view.label.patientname" /></span> <span id="patient-name">{{cert.patient.fornamn}} {{cert.patient.efternamn}}</span>
              </div>
              <div class="span6">
                <span class="tag"><message key="view.label.unit" /></span> <span id="careunit">{{cert.vardenhet.namn}}</span>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6">
                <span class="tag"><message key="view.label.civicnumber" /></span> <span id="patient-crn">{{cert.patient.id}}</span>
              </div>
              <div class="span6">
                <span class="tag"><message key="view.label.issuer" /></span> <span id="caregiver">{{cert.vardenhet.vardgivare.namn}}</span>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6">
                <span class="tag"><message key="view.label.period" /></span> <span id="certificate-period">{{cert.fromDate | date:'longDate'}}&ndash;{{cert.tomDate| date:'longDate'}} </span>
              </div>
              <div class="span6"></div>
            </div>
          </div>
          <div class="cert-body">
            <div class="body-row">
              <span class="title">Sjukdomsförlopp</span> <span id="problem-description" class="text">{{cert.sjukdomsfarlopp}}</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


</div>
