.soclink {
    background-image: url(../img/ss16.png);
    background-repeat: no-repeat;
    padding-left: 25px;
}
.cert-body .alert ul {
    padding-left: 20px;
}


.qa-block-body.komplettera-block {
    white-space: normal;
}
.qa-block-body.komplettera-block div span {
    white-space: pre-line;
}

.deleteUnderlag {
    cursor:pointer;
}

.whitebg {
    background: white;
}

.cert-body .form5  .body-row .text,   .cert-body .form6 .body-row .text{
    display: block;
    padding: 20px 40px 15px 40px;
    background-color: white;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.form-nedsattning-wrapper {
    background-color: #eee;
    padding: 10px;
    border-radius: 4px;
}

.dark-grey-bg {
    background-color: #bbb;

}
/* When focused and when active is added from checkbox, add highlighted style */
.form5 .form-control:focus,
.form6 .form-control:focus  {
    border-color: #eee;

   /* -webkit-box-shadow: none;  *//*inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); */
   /* box-shadow: none;*/ /* inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); */
}