<div id="send-certificate-flow-root" class="row-fluid">

  <div id="backnav" class="row-fluid">
    <a class="backlink" href ng-click="backToViewCertificate()"><span message key="button.goback"></span></a>
  </div>
<div mi-spinner label="common.module.message.sendingcertificate" show-spinner="sendingInProgress" show-content="!sendingInProgress">
  <!-- Content -->
  <div class="row-fluid">
    <div class="span12">
      <h1 ng-focus="pagefocus" tabindex="-1">
        <span message key="confirm.label.pagetitle"></span>
      </h1>

      <h2>
        <span key="confirm.label.certrowtitle"></span>
      </h2>
      <p message key="confirm.label.summarypagedesc"></p>
      <div class="well cert-summary">
        <span>{{cert.skickatDatum | date:'longDate'}}</span> 
        <span message key="certificatetypes.{{cert.typ.code}}.commonname"></span>
        <span message key="certificatetypes.{{cert.typ.code}}.typename"></span>
        <span>{{cert.validFromDate |
          date:'longDate'}}&ndash;{{cert.validToDate | date:'longDate'}}</span> 
          <span>{{cert.vardenhet.namn}}</span>

      </div>


      <h2>
        <span message key="confirm.label.recipienttitle"></span>
      </h2>
      <div class="well cert-summary">
        <span>{{getRecipientName(selectedRecipientId)}}</span>
      </div>
      <p class="btn-row-desc no-padding">
        <span message key="confirm.label.verifytext"></span>
      </p>
      <div class="send-warning" ng-show="alreadySentToRecipient()">
        <span id="already-sent-to-recipient-message" class="alert warning" message key="confirm.message.alreadysent"></span>
      </div>
      <p>
        <button id="confirmAndSendBtn" type="button" ng-click="confirmAndSend()" class="btn btn-success">
          <span message key="button.send"></span>
        </button>
        <button id="cancelSendBtn" ng-click="backToViewCertificate()" class="btn btn-link">
          <span message key="common.cancel"></span>
        </button>
      </p>
    </div>
  </div>

</div> <!-- eof spinner -->
