<div class="row-fluid">

  <!-- Loading spinner: visibility defined by $scope.doneLoading  -->
  <!-- TODO: Make a directive of this for reuse in all places where we show a spinner? -->
  <div ng-hide="doneLoading" style="text-align: center; padding: 20px;">
    <img src="/img/ajax-loader.gif" style="text-align: center;" />

    <p style="text-align: center; color: #64ABC0; margin-top: 20px;">
      <strong> <span message key="view.message.certificateloading"></span>
      </strong>
    </p>
  </div>

  <div ng-show="doneLoading">

    <div id="backnav" class="row-fluid">
      <a class="backlink" href="/web/start"> <span message key="button.goback"></span>
      </a>
    </div>

    <!-- Content -->
    <div class="row-fluid">
      <div class="span7">
        <h1 ng-focus="pagefocus" tabindex="-1">
          <span message key="view.label.pagetitle"></span>
        </h1>
        <p>
          <span message key="view.label.pagedescription"></span>
        </p>
        <form id="view-as-pdf" action="/moduleapi/certificate/{{cert.id}}/pdf" method="get" target="_blank">
          <p class="btn-row">
            <button id="sendCertificateBtn" type="button" ng-click="send()" class="btn btn-success">
              <span message key="button.send"></span>
            </button>
            <button id="downloadprint" type="submit" class="btn btn-inverse">
              <span message key="button.downloadprint"></span>
            </button>
          </p>
        </form>
      </div>
      <div class="span5 eventbox">
        <h2>
          <span message key="view.label.latestevent"></span>
        </h2>
        <!--  Show if no events to show -->
        <p ng-show="cert.filteredStatuses.length<1">
              <span message key="view.label.latestevent.noevents"></span></a>
        </p>
        
        <!-- Show first status in list if any viable status exist-->
        <p id="lastest-certificate-event" ng-show="cert.filteredStatuses.length>0">
          {{cert.filteredStatuses[0].timestamp | date:'shortDate'}}
          <span message key="fk7263.status.{{cert.filteredStatuses[0].type}}"></span>
          <span message key="fk7263.target.{{cert.filteredStatuses[0].target}}"></span>
        </p>
        <!-- Show if more than 1 viable status exists -->
        <p ng-show="cert.filteredStatuses.length>1">
          <a class="statusHistoryLink" href ng-click="showStatusHistory()"><span message key="view.label.latestevent.showall"></span></a>
        </p>
      </div>
    </div>
    <div id="certificate" class="certificate">
      <span class="hide" id="certId" title="{{cert.id}}"></span> <span class="hide" id="certType" title="{{cert.typ}}"></span>

      <div class="row-fluid">
        <div class="span12">
          <div class="cert">
            <div class="cert-titlebar">
              <img class="cert-icon" alt="" ng-src="{{cert.typ_image}}" />

              <div class="row-fluid">
                <div class="span6">
                  <h2 class="cert-title">
                    <span message key="certificatetypes.{{cert.typ}}.commonname"></span> <span class="cert-titlebar-type"><span message key="certificatetypes.{{cert.typ}}.typename"></span></span>
                  </h2>
                </div>
                <div class="span6 issue">
                  <span><span message key="view.label.issued"></span></span> <span class="cert-titlebar-value">{{cert.signeringsDatum | date:'longDate'}}</span>
                </div>
              </div>
            </div>

            <div class="cert-header">
              <div class="row-fluid">
                <div class="span6 header-row">
                  <h3 class="tag"><span message key="view.label.patientname"></span></h3> <span id="patient-name">{{cert.patient.fullstandigtNamn}}</span>
                </div>
                <div class="span6">
                  <h3 class="tag"><span message key="view.label.nedsattning"></span></h3>

                  <div ng-repeat="aktivitetsbegransning in cert.aktivitetsbegransningar">
                    <div ng-repeat="nedsattning in aktivitetsbegransning.arbetsformaga.arbetsformagaNedsattningar">
                      <span message key="nedsattningsgrad.{{nedsattning.nedsattningsgrad}}"></span>
                      ({{nedsattning.varaktighetFrom | date:'longDate'}}&ndash;{{nedsattning.varaktighetTom | date:'longDate'}})
                    </div>
                  </div>
                </div>
              </div>

              <div class="row-fluid">
                <div class="span6 header-row">
                  <h3 class="tag"><span message key="view.label.civicnumber"></span></h3> <span id="patient-crn">{{cert.patient.id}}</span>
                </div>
                <div class="span6"></div>
              </div>
              <div class="row-fluid">
                <div class="span6 header-row">
                  <h3 class="tag"><span message key="view.label.unit"></span></h3> <span id="careunit">{{cert.vardenhet.namn}}</span>
                </div>
                <div class="span6">
                  <h3 class="tag"><span message key="view.label.issuer"></span></h3> <span id="caregiver">{{cert.vardenhet.vardgivare.namn}}</span>
                </div>
              </div>
            </div>

            <div class="cert-body">

              <div class="body-row">
                <h3 class="title"><span message key="view.label.smittskydd"></span></h3>
                <span class="text"><span message key="view.label.{{smittskydd()}}"></span></span>
              </div>

              <mi-field title="view.label.diagnosis" filled="cert.filledFields.diagnosis">
                {{cert.bedomtTillstand.beskrivning}} (<span class="tag"><span message key="view.label.diagnosisCode"></span></span> {{cert.bedomtTillstand.tillstandskod}})
              </mi-field>

              <mi-field title="view.label.progressofdesease" filled="cert.filledFields.progressofdesease">
                {{cert.sjukdomsforlopp}}
              </mi-field>

              <mi-field title="view.label.disabilities" filled="cert.filledFields.disabilities">
                <ul>
                  <li ng-repeat="funktionsnedsattning in cert.funktionsnedsattningar">
                    {{funktionsnedsattning.beskrivning}}
                  </li>
                </ul>
              </mi-field>

              <mi-field title="view.label.basedon" filled="cert.filledFields.basedon">
                <ul>
                  <li ng-repeat="vardkontakt in cert.vardkontakter">
                    <span message key="vardkontakt.{{vardkontakt.vardkontakttyp}}"
                          param="vardkontakt.vardkontaktstid | date:'longDate'"></span></li>
                  <li ng-repeat="referens in cert.referenser">
                    <span message key="referens.{{referens.referenstyp}}" param="referens.datum| date:'longDate'"></span>
                    <div ng-show="referens.referenstyp == 'ANNAT'">
                      <span class="tag"><span message key="view.label.comment"></span></span> {{cert.kommentar}}
                    </div>
                  </li>
                </ul>
              </mi-field>

              <mi-field title="view.label.limitation" filled="cert.filledFields.limitation">
                <ul>
                  <li ng-repeat="aktivitetsbegransning in cert.aktivitetsbegransningar">{{aktivitetsbegransning.beskrivning}}</li>
                </ul>
              </mi-field>

              <mi-field title="view.label.recommendations" filled="cert.filledFields.recommendations">
                <ul>
                  <li ng-show="cert.rekommenderarKontaktMedArbetsformedlingen != null"><span message key="view.label.recommendations.contact.jobcenter"></span></li>
                  <li ng-show="cert.rekommenderarKontaktMedForetagshalsovarden != null"><span message key="view.label.recommendations.contact.healthdepartment"></span></li>
                  <li ng-show="cert.rekommenderarOvrigt != null">{{cert.rekommenderarOvrigt.beskrivning}}</li>
                </ul>
              </mi-field>

              <mi-field title="view.label.plannedtreatment" filled="cert.filledFields.plannedtreatment">
                <ul>
                  <li ng-show="cert.atgardInomSjukvarden != null"><span message key="view.label.plannedtreatment.healthcare"></span> {{cert.atgardInomSjukvarden.beskrivning}}</li>
                  <li ng-show="cert.annanAtgard != null"><span message key="view.label.plannedtreatment.other"></span> {{cert.annanAtgard.beskrivning}}</li>
                </ul>
              </mi-field>

              <mi-field title="view.label.workrehab" filled="cert.filledFields.workrehab">
                <span ng-show="cert.arbetsinriktadRehabiliteringAktuell != null"> <span message key="view.label.yes"></span></span>
                <span ng-show="cert.arbetsinriktadRehabiliteringEjAktuell != null"> <span message key="view.label.no"></span></span>
                <span ng-show="cert.arbetsinriktadRehabiliteringEjBedombar != null"> <span message key="view.label.unjudgeable"></span></span>
              </mi-field>

              <mi-field title="view.label.patientworkcapacity" filled="cert.filledFields.patientworkcapacity">
                <ul>
                  <li ng-show="cert.aktivitetsbegransningar[0].arbetsformaga.sysselsattningar.indexOf('NUVARANDE_ARBETE') != -1"><span message key="view.label.patientworkcapacity.currentwork"></span> {{cert.aktivitetsbegransningar[0].arbetsformaga.arbetsuppgift}}</li>
                  <li ng-show="cert.aktivitetsbegransningar[0].arbetsformaga.sysselsattningar.indexOf('ARBETSLOSHET') != -1"><span message key="view.label.patientworkcapacity.unemployed"></span></li>
                  <li ng-show="cert.aktivitetsbegransningar[0].arbetsformaga.sysselsattningar.indexOf('FORALDRALEDIGHET') != -1"><span message key="view.label.patientworkcapacity.parentalleave"></span></li>
                </ul>
              </mi-field>

              <mi-field title="view.label.patientworkcapacityjudgement" filled="cert.filledFields.patientworkcapacityjudgement">
                {{cert.aktivitetsbegransningar[0].arbetsformaga.motivering}}
              </mi-field>

              <mi-field title="view.label.prognosis" filled="cert.filledFields.prognosis">
                <ul>
                  <li ng-show="cert.aktivitetsbegransningar[0].arbetsformaga.prognosangivelse.indexOf('ATERSTALLAS_HELT') != -1"><span message key="view.label.yes"></span></li>
                  <li ng-show="cert.aktivitetsbegransningar[0].arbetsformaga.prognosangivelse.indexOf('ATERSTALLAS_DELVIS') != -1"><span message key="view.label.partialyes"></span></li>
                  <li ng-show="cert.aktivitetsbegransningar[0].arbetsformaga.prognosangivelse.indexOf('INTE_ATERSTALLAS') != -1"><span message key="view.label.no"></span></li>
                  <li ng-show="cert.aktivitetsbegransningar[0].arbetsformaga.prognosangivelse.indexOf('DET_GAR_INTE_ATT_BEDOMMA') != -1">
                    <span message key="view.label.unjudgeable"></span> <span class="tag"><span message key="view.label.comment"></span></span> {{cert.kommentar}}
                  </li>
                </ul>
              </mi-field>

              <mi-field title="view.label.othertransport" filled="cert.filledFields.othertransport">
                <span ng-show="cert.forandratRessattAktuellt != null"> <span message key="view.label.yes"></span></span>
                <span ng-show="cert.forandratRessattEjAktuellt != null"> <span message key="view.label.no"></span></span>
              </mi-field>

              <mi-field title="view.label.fkcontact" filled="cert.filledFields.fkcontact">
                <span ng-show="cert.kontaktMedForsakringskassanAktuell != null"> <span message key="view.label.yes"></span></span>
                <span ng-show="cert.kontaktMedForsakringskassanAktuell == null"> <span message key="view.label.no"></span></span>
              </mi-field>

              <div class="body-row">
                <h3 class="title"><span message key="view.label.workcodes"></span></h3> <span class="text" ng-show="cert.forskrivarkodOchArbetsplatskod != null">{{cert.forskrivarkodOchArbetsplatskod}}</span>
              </div>

              <div class="row-fluid">
                <div class="span7">
                  <div class="infobox">
                    <h3>
                      <span message key="view.label.confirmedby"></span>
                    </h3>
                    <h4>
                      <span message key="view.label.date"></span>
                    </h4>
                    <p>{{cert.signeringsDatum | date:'longDate'}}</p>
                    <h4>
                      <span message key="view.label.contactinfo"></span>
                    </h4>
                    <p>
                      <span class="text">{{cert.skapadAv.namn}}</span><br> <span class="text">{{cert.vardenhet.namn}}</span><br> <span class="text">{{cert.vardenhet.postadress}}</span><br>
                      <span class="text">{{cert.vardenhet.postnummer}} {{cert.vardenhet.postort}}</span><br> <span class="text">{{cert.vardenhet.telefonnummer}}</span><br>
                    </p>
                  </div>
                </div>
              </div>

            </div>
            <!-- cert-body -->

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
