.soclink {
    background-image: url(../img/ss16.png);
    background-repeat: no-repeat;
    padding-left: 25px;
}

.recipentlist {
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
}

table.table.luae_fs-underlag tbody td {
    font-weight: normal;
    border: none;
}

.luae_fs-underlag {
    margin-bottom: 10px;
}

.luae_fs-underlag-title {
    font-weight: bold;
}

.luae_fs-issue {
    text-align: right;
    padding-right: 20px;
}