.soclink {
    background-image: url(../img/ss16.png);
    background-repeat: no-repeat;
    padding-left: 25px;
}
.cert-body .alert ul {
    padding-left: 20px;
}


.qa-block-body.komplettera-block {
    white-space: normal;
}
.qa-block-body.komplettera-block div span {
    white-space: pre-line;
}
