<div style="margin-top: 350px">
  <div class="infobox">
    Fält 2 - Kod saknas
  </div>
  <div id="certificate" class="certificate">
    <div class="row-fluid">
      <div class="span12">
        <div class="cert-body">

          <div class="body-row clearfix body-row-single">
            <h4 class="cert-field-number"><span message key="view.label.field"></span> 1</h4>
            <input id="smittskydd" name="smittskydd" type="checkbox"/> <label for="smittskydd" class="title title-single"><span message key="view.label.smittskydd"></span></h3>
          </div>

          <div class="body-row clearfix">
            <h4 class="cert-field-number"><span message key="view.label.field"></span> 4b</h4>
            <h3 class="title"><span message key="view.label.basedon"></span><span class="help">?</span></h3>
            <div class="text">
	            <div class="control-group form-inline">
						    <input type="checkbox" id="informationBasedOn.examination" name="informationBasedOn.examination" class="inline"/>
	              <label for="informationBasedOn.examination" class="inline" style="min-width: 250px">Min undersökning av patienten</label>
	              <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
	              <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
	            </div>
	            <div class="control-group form-inline">
		            <input type="checkbox" id="informationBasedOn.phoneContact" name="informationBasedOn.phoneContact"/>
	              <label for="informationBasedOn.phoneContact" class="checkbox" style="min-width: 250px">Min telefonkontakt med patienten</label>
	              <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
	              <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
	            </div>
	            <div class="control-group form-inline">
	              <input type="checkbox" id="informationBasedOn.journal" name="informationBasedOn.journal" class='control-element'/>
	              <label for="informationBasedOn.journal" class="checkbox" style="min-width: 250px">Journaluppgifter</label>
	              <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
	              <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
	            </div>
	            <div class="control-group form-inline">
	              <input type="checkbox" id="informationBasedOn.other" name="informationBasedOn.other" class='control-element'/>
	              <label for="informationBasedOn.other" class="checkbox" style="min-width: 250px">Annat</label>
	              <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
	              <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
	            </div>
		          <div class="otherText indent">
		            <span>Ange vad:</span><br/>
		            <textarea id="informationBasedOn.otherText" name="informationBasedOn.otherText" rows='2' cols='40' class='control-element otherInformation'></textarea>
                <div class="info-transfer">Informationen överförs till "Övriga upplysningar" i Försäkringskassans blankett.</div>
		          </div>
		          <div class="counter pull-right">
		            <div><span class="otherInformationCounter"></span></div>
		          </div>
            </div>
          </div>
          
          <div class="body-row clearfix diagnose">
            <h4 class="cert-field-number"><span message key="view.label.field"></span> 2</h4>
            <h3 class="title"><span message key="view.label.diagnosis"></span><span class="help">?</span></h3>
            <div class="text">

              <div class="control-group">
					      <div class='span3'>
					        <label class="control-label">ICD 10</label>
                  <div class="controls">
                    <input type="text" id="diagnose.code" name="diagnose.code" value="" class='diagnose-code control-element'>
                  </div>
					      </div>
					      <div class='span9'>
					        <label class="control-label">Diagnos</label>
                  <div class="controls">
                    <input type="text" id="diagnose.description" name="diagnose.description" value="">
	                </div>
  				      </div>
					    </div>
              <div class="control-group">
                <div class='span3'>
                  <label class="control-label">ICD 10</label>
                  <div class="controls">
	                  <input type="text" id="diagnose.codeOpt1" name="diagnose.codeOpt1" value="" class="block">
	                  <input type="text" id="diagnose.codeOpt2" name="diagnose.codeOpt2" value="">
                  </div>
                </div>
                <div class='span9'>
                  <label class="control-label inline-block">Ytterligare diagnoser (frivilligt)</label><span class="help">?</span>
                  <div class="controls">
	                  <input type="text" id="diagnose.descriptionOpt1" name="diagnose.descriptionOpt1" value="" class="block ">
	                  <input type="text" id="diagnose.descriptionOpt2" name="diagnose.descriptionOpt2" value="">
                  </div>
                </div>
              </div>
					    
              <div class="control-group form-inline inline-block">
                <label class="control-label">Förtydligande av diagnos/diagnoser</label><span class="help">?</span>
  			        <textarea id="diagnose.clarification" name="diagnose.clarification" rows='5' cols='80' class='control-element'></textarea>
					      <div class="counter">
					        <div>Tecken kvar: <span class="counter-text"></span></div>
					      </div>
              </div>

              <div class="control-group form-inline">
                <input type="checkbox" id="diagnose.multipleDiagnoses" name="diagnose.multipleDiagnoses" class='control-element'/>
                <label for="diagnose.multipleDiagnoses">Samsjuklighet föreligger</label><span class="help">?</span>
              </div>
            </div>
          </div>

          <div class="body-row clearfix">
            <h4 class="cert-field-number"><span message key="view.label.field"></span> 3</h4>
            <h3 class="title"><span message key="view.label.progressofdisease"></span><span class="help">?</span></h3>
            <div class="text">
            
              <textarea id="diseaseCause" name="diseaseCause" rows='5' cols='80' class='control-element'></textarea>
				      <div class="counter">
				        <div>Tecken kvar: <span class="counter-text"></span></div>
				      </div>
            </div>
			    </div>

          <div class="body-row clearfix">
            <h4 class="cert-field-number"><span message key="view.label.field"></span> 4</h4>
            <h3 class="title"><span message key="view.label.disabilities"></span><span class="help">?</span></h3>
            <div class="text">
            
              <a href="#" class="" onclick="ICF.remote.ST('example_form', 'example_frame',this)" title="Öppnar Socialstyrelsens beslutstöd för angiven huvuddiagnos">Socialstyrelsens försäkringsmedicinska beslutstöd</a>
              <textarea id="disabilities" name="disabilities" rows='6' cols='80' class='control-element'></textarea>
              <div class="counter">
                <div>Tecken kvar: <span class="counter-text"></span></div>
              </div>
					  </div>
					</div>
					
          <div class="body-row clearfix">
            <h4 class="cert-field-number"><span message key="view.label.field"></span> 5</h4>
            <h3 class="title"><span message key="view.label.limitation"></span><span class="help">?</span></h3>
            <div class="text">
              <a href="#" class="" onclick="ICF.remote.ST('example_form', 'example_frame',this)" title="Öppnar Socialstyrelsens beslutstöd för angiven huvuddiagnos">Socialstyrelsens försäkringsmedicinska beslutstöd</a>
              <textarea id="activityLimitation" name="activityLimitation" rows='10' cols='80' class='control-element'></textarea>
				      <div class="counter">
				        <div>Tecken kvar: <span class="counter-text"></span></div>
				      </div>
            </div>  
          </div>
        
          <div class="body-row clearfix">
            <h4 class="cert-field-number"><span message key="view.label.field"></span> 8a</h4>
            <h3 class="title"><span message key="view.label.work"></span><span class="help">?</span></h3>
            <div class="text">
              <div class="control-group form-inline">
	              <label class="control-label"><span message key="view.label.patientworkcapacity"></span></label>
	              <div class="controls form-inline">
		              <input id="work1" type="radio" id="basedOnWork" name="basedOnWork" group="group1" value="CURRENT" checked="checked" class="control-element">
		              <label for="work1">Nuvarande arbete</label><span class="help">?</span>
		              <div class="indent">
							      <label for="currentWork">Ange aktuella arbetsuppgifter</label>
							      <div class="controls">
                      <textarea id="currentWork" name="currentWork" rows='2' cols='80' class='control-element'></textarea>
							        <div class="counter">
							          <div>Tecken kvar: <span class="counter-text"></span></div>
							        </div>
                    </div>
                  </div>
					      </div>
              </div>
              <div class="control-group form-inline">
	              <input id="work2" type="radio" name="basedOnWork" group="group1" value="UNEMPLOYMENT" class="control-element">
	              <label for="work2" class="">Arbetslöshet - att utföra arbete på den reguljära arbetsmarknaden</label><span class="help">?</span>
              </div>
              <div class="control-group form-inline">
	              <input id="work3" type="radio" name="basedOnWork" group="group1" value="PARENTAL_LEAVE" class="control-element">
	              <label for="work3" class="">Föräldraledighet med föräldrapenning - att vårda sitt barn</label><span class="help">?</span>
              </div>
            </div>
          </div>
					
          <div class="body-row clearfix">
            <h4 class="cert-field-number"><span message key="view.label.field"></span> 8b</h4>
            <h3 class="title"><span message key="view.label.nedsattning"></span><span class="help">?</span></h3>
            <div class="text">
					
              <div class="control-group">
	              Faktisk tjänstgöringstid 
	              <input style="width: 3em;" type="text" id="capacityForWork.actualWorkingHoursPerWeek" name="capacityForWork.actualWorkingHoursPerWeek" value="" class='short control-element'> 
	              <span>timmar/vecka</span>
              </div>
              
              <div class="control-group form-inline">
	              <input type="checkbox" id="capacityForWork.work25" name="capacityForWork.work25" class='control-element'/>
	              <label for="capacityForWork.work25" class="checkbox">25% nedsatt arbetsförmåga från</label>
                <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
	              <span>till</span>
                <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                <div class="indent">
					        <div class="workHoursPerWeek">
					          Arbetstid timmar/vecka: <span id="workHoursPerWeek25"></span>
					        </div>
					        Arbetstidsförläggning (frivilligt)
					        <input type="text" id="capacityForWork.rec25LongerWorkingHours" name="capacityForWork.rec25LongerWorkingHours" value="" class='control-element otherInformation'>        
					        <span class="otherInformationCounter"></span>
					        <div class="info-transfer">Informationen överförs till ”Övriga upplysningar” i Försäkringskassans blankett.</div>
						    </div>      
              </div>

              <div class="control-group form-inline">
	              <input type="checkbox" id="capacityForWork.work50" name="capacityForWork.work50" class='control-element'/>
	              <label for="capacityForWork.work50" class="checkbox">50% nedsatt arbetsförmåga från</label>
	              <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
	              <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                <span>till</span>
	              <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
	              <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                <div class="indent">
					        <div class="workHoursPerWeek">
  					        Arbetstid timmar/vecka: <span id="workHoursPerWeek50"></span>
					        </div>
					        Arbetstidsförläggning (frivilligt)
					        <input type="text" id="capacityForWork.rec50LongerWorkingHours" name="capacityForWork.rec50LongerWorkingHours" value="" class='control-element otherInformation'>
					        <span class="otherInformationCounter"></span>
                  <div class="info-transfer">Informationen överförs till ”Övriga upplysningar” i Försäkringskassans blankett.</div>
                </div>      
              </div>

              <div class="control-group form-inline">
	              <input type="checkbox" id="capacityForWork.work75" name="capacityForWork.work75" class='control-element'/>
	              <label for="capacityForWork.work75" class="checkbox">75% nedsatt arbetsförmåga från</label>
	              <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
	              <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                <span>till</span>
	              <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
	              <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                <div class="indent">
					        <div class="workHoursPerWeek">
	   				        Arbetstid timmar/vecka: <span id="workHoursPerWeek75"></span>
					        </div>
					        Arbetstidsförläggning (frivilligt)
					        <input type="text" id="capacityForWork.rec75LongerWorkingHours" name="capacityForWork.rec75LongerWorkingHours" value="" class='control-element otherInformation'>        <span class="otherInformationCounter"></span>
                  <div class="info-transfer">Informationen överförs till ”Övriga upplysningar” i Försäkringskassans blankett.</div>
                </div>      
              </div>

              <div class="control-group form-inline">
	              <input type="checkbox" id="capacityForWork.workFull" name="capacityForWork.workFull" class='control-element'/>
	              <label for="capacityForWork.workFull" class="checkbox">Helt nedsatt arbetsförmåga från</label>
	              <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
	              <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
                <span>till</span>
                <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
	              <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
              </div>      

              <div>Detta intyg motsvarar en period på: <span id="certificateSpan"></span></div>
            </div>  
          </div>
             
          <div class="body-row clearfix">
            <h4 class="cert-field-number"><span message key="view.label.field"></span> 9</h4>
            <h3 class="title"><span message key="view.label.patientworkcapacityjudgement"></span><span class="help">?</span></h3>
            <div class="text">
              <a href="#" onclick="ICF.remote.ST('example_form', 'example_frame',this)" title="Öppnar Socialstyrelsens beslutstöd för angiven huvuddiagnos">Socialstyrelsens försäkringsmedicinska beslutstöd</a>
              <textarea id="capacityForWork.text" name="capacityForWork.text" rows='10' cols='80' class='control-element'></textarea>
				      <div class="counter">
				        <div>Tecken kvar: <span class="counter-text"></span></div>
				      </div>
            </div>
          </div>

          <div class="body-row clearfix">
            <h4 class="cert-field-number"><span message key="view.label.field"></span> 10</h4>
            <h3 class="title"><span message key="view.label.prognosis"></span><span class="help">?</span></h3>
            <div class="text">

              <a href="#" onclick="ICF.remote.ST('example_form', 'example_frame',this)" title="Öppnar Socialstyrelsens beslutstöd för angiven huvuddiagnos">Socialstyrelsens försäkringsmedicinska beslutstöd</a>
              <div id="forecast-choice" class="control">
                <input type="radio" name="capacityForWork.forecast" value="YES" checked="checked" group='group2' class='radio control-element'>         Ja <br>
                <input type="radio" name="capacityForWork.forecast" value="PARTLY" group='group2' class='radio control-element'> Delvis <br>
                <input type="radio" name="capacityForWork.forecast" value="NO" group='group2' class='radio control-element'>         Nej <br>
                <input type="radio" name="capacityForWork.forecast" value="UNKNOWN"group='group2' class='radio control-element'>         Går ej att bedöma <br>
                Förtydligande:
                <input type="text" id="capacityForWork.forecastText" name="capacityForWork.forecastText" value="" class='control-element otherInformation'>       
                <span class="otherInformationCounter"></span>
              </div>
              <div class="info-transfer">Informationen överförs till ”Övriga upplysningar” i Försäkringskassans blankett.</div>
              
            </div>
          </div>

          <div class="body-row clearfix">
            <h4 class="cert-field-number"><span message key="view.label.field"></span> 6b</h4>
            <h3 class="title"><span message key="view.label.plannedtreatment"></span><span class="help">?</span></h3>
            <div class="text">
              
              <label class="control-header">Planerad eller pågående behandling eller åtgärd inom sjukvården (ange vilken)</label>
              <textarea id="measures.current" name="measures.current" rows='1' cols='120' class='control-element'></textarea>
				      <div class="counter">
				        <div>Tecken kvar: <span class="counter-text"></span></div>
				      </div>
				      
              <label class="control-header">Annan åtgärd (ange vilken)</label>
              <textarea id="measures.other" name="measures.other" rows='1' cols='120' class='control-element'></textarea>
				      <div class="counter">
				        <div>Tecken kvar: <span class="counter-text"></span></div>
				      </div>
              
            </div>
          </div>

          <div class="body-row clearfix">
            <h4 class="cert-field-number"><span message key="view.label.field"></span> 6a</h4>
            <h3 class="title"><span message key="view.label.recommendations"></span><span class="help">?</span></h3>
            <div class="text">

  <div class="section-header"><div>Rekommendationer till Försäkringskassan</div><div><div class="help">
  <img src="/medcert/resources/images/help.png" class="help-icon" id="help-image-900"></img>
</div>
</div></div>
  <div class="section-description"><div class="code">FK7263</div><div class="field">Fält 6a,7,11</div></div>
  <div class="separator">&#160;</div>
  <div class="control">
    <div class="hasHelp">
                      <input type="hidden" name="_recommendationsToFk.travel" value="on"/>
    <input type="checkbox" id="recommendationsToFk.travel" name="recommendationsToFk.travel" class='control-element'/>
        <label for="recommendationsToFk.travel">Resor till och från arbetet med annat färdmedel än normalt kan göra det möjligt för patienten att återgå i arbete</label>
    </div>
    <div class="help">
  <img src="/medcert/resources/images/help.png" class="help-icon" id="help-image-901"></img>
</div>
    <div class="separator">&#160;</div>
    <div class="hasHelp">
                      <input type="hidden" name="_recommendationsToFk.contactAf" value="on"/>
    <input type="checkbox" id="recommendationsToFk.contactAf" name="recommendationsToFk.contactAf" class='control-element'/>
        <label for="recommendationsToFk.contactAf">Patienten bör komma i kontakt med arbetsförmedlingen</label>
    </div>
    <div class="help">
  <img src="/medcert/resources/images/help.png" class="help-icon" id="help-image-902"></img>
</div>
    <div class="separator">&#160;</div>
    <div class="hasHelp">
                      <input type="hidden" name="_recommendationsToFk.contactCompanyCare" value="on"/>
    <input type="checkbox" id="recommendationsToFk.contactCompanyCare" name="recommendationsToFk.contactCompanyCare" class='control-element'/>
        <label for="recommendationsToFk.contactCompanyCare">Patienten bör komma i kontakt med företagshälsovården</label>
    </div>
    <div class="help">
  <img src="/medcert/resources/images/help.png" class="help-icon" id="help-image-903"></img>
</div>
    <div class="separator">&#160;</div>
    <div>
                      <input type="hidden" name="_recommendationsToFk.other" value="on"/>
    <input type="checkbox" id="recommendationsToFk.other" name="recommendationsToFk.other" class='control-element'/>
        <label for="recommendationsToFk.other">Övrigt (ange vad)</label>
    </div>
    <div class="separator">&#160;</div>
    <div class="input-text">
                      <input type="text" id="recommendationsToFk.otherText" name="recommendationsToFk.otherText" value="" class='control-text-long control-element'>    </div>
    <div class="separator" style="height: 2em;">&#160;</div>
    <div class="control-header hasHelp">Är arbetslivsinriktad rehabilitering aktuell?</div><div class="help">
  <img src="/medcert/resources/images/help.png" class="help-icon" id="help-image-904"></img>
</div>
    <div class="separator">&#160;</div>
    <div class="rehab">
                        <div>
            <input type="radio" name="recommendationsToFk.reabInQuestion" group="group3" value="YES"
                        class="control-element">Ja
        </div>
      <div class="rehab-now">
                        <div>
              <input type="radio" name="recommendationsToFk.rehabNow" group="group4" value="NOW"
                            class="control-element">Omgående
          </div>
          <div class="rehab-later">    
              <input type="radio" name="recommendationsToFk.rehabNow" group="group4" value="LATER"
                            class="control-element">Senare, med start
        </div>
            <div class="datepicker">
                              <input type="text" id="recommendationsToFk.rehabStart" name="recommendationsToFk.rehabStart" value="" class='date-pick dp-applied control-element otherInformation'>        </div>
        <div class="separator">&nbsp</div>
        <div class="info-transfer" style="white-space: nowrap";>Informationen överförs till ”Övriga upplysningar” i Försäkringskassans blankett.
</div>
      </div>
                        <div>
            <input type="radio" name="recommendationsToFk.reabInQuestion" group="group3" value="NO"
                            checked="checked"
                        class="control-element">Nej
        </div>
          <div>
            <input type="radio" name="recommendationsToFk.reabInQuestion" group="group3" value="UNKNOWN"
                        class="control-element">Går ej att bestämma
        </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="section-header"><div>Kontakt</div><div><div class="help">
  <img src="/medcert/resources/images/help.png" class="help-icon" id="help-image-1000"></img>
</div>
</div></div>
  <div class="section-description"><div class="code">FK7263</div><div class="field">Fält 12</div></div>
  <div class="control">
                    <input type="hidden" name="_contactWithFkRequested" value="on"/>
    <input type="checkbox" id="contactWithFkRequested" name="contactWithFkRequested" class='control-element'/>
      <label for="cause4" class="checkbox">Kontakt önskas med Försäkringskassan</label>   
  </div>  
</div>
<div class="section">
  <div class="section-header"><div>Övriga upplysningar och förtydliganden</div><div><div class="help">
  <img src="/medcert/resources/images/help.png" class="help-icon" id="help-image-1100"></img>
</div>
</div></div>
  <div class="section-description"><div class="code">FK7263</div><div class="field">Fält 13</div></div>
  <div class="separator">&#160;</div>
  <div class="control">
    <div>
      <div style="width: 100%">                <textarea id="otherInformation" name="otherInformation" rows='10' cols='120' class='control-element otherInformation'></textarea>
</div>
      <div class="counter">
        <div>Tecken kvar: <span class="otherInformationCounter"></span></div>
      </div>
    </div>
  </div>  
</div>
<div class="section">
  <div class="section-header"><div>Vårdenhetens adress</div></div>
  <div class="section-description"><div class="code">FK7263</div><div class="field">Fält 15</div></div>
  <div class="separator">&#160;</div>
  <div class="control">
    <div>VårdEnhetA (0123456789012), IFV Testdata</div>
    <div class="separator-line">&#160;</div>
    <div class="address-content">
      <div class="address-labels">
        <div>Postadress:</div>
        <div>Postnummer:</div>
        <div>Postort:</div>
        <div>Telefonnummer:</div>
        <div>Epost:</div>
      </div>
      <div class="address-fields">
        <div>                <input type="text" id="clinicInfo.postalAddress" name="clinicInfo.postalAddress" value="Agatan 12" class='control-element'> </div>
        <div>                <input type="text" id="clinicInfo.postalCode" name="clinicInfo.postalCode" value="12345" class='control-element'> </div>
        <div>                <input type="text" id="clinicInfo.postalCity" name="clinicInfo.postalCity" value="Teststad" class='control-element'> </div>
        <div>                <input type="text" id="clinicInfo.phone" name="clinicInfo.phone" value="023-2234324" class='control-element'> </div>
        <div>                <input type="text" id="clinicInfo.email" name="clinicInfo.email" value="mats.ekhammar@callistaenterprise.se" class='control-element'> </div>
      </div>
      <div class="separator">&nbsp</div>
    </div>
  </div>
</div>
<div class="section-buttons">
  <div class="buttons-first-row">
    <input type="submit" name="save" value="Spara">
    <input type="submit" name="review" value="Granska/Skriv ut blankett">
   </div>
   <div class="hasHelp">
                    <input type="hidden" name="_patientAgreesToSending" value="on"/>
    <input type="checkbox" id="patientAgreesToSending" name="patientAgreesToSending" class='control-element'/>
      <label for="checkbox1">Patienten samtycker till att läkarintyget skickas in elektroniskt till Försäkringskassan</label>
   </div><div class="help">
  <img src="/medcert/resources/images/help.png" class="help-icon" id="help-image-1200"></img>
</div>
   <div class="separator">&nbsp</div>
   <div class="buttons-second-row">
    <input type="submit" name="sign" value="Signera">
    <input type="submit" name="send" value="Skicka">
    <input type="submit" name="print" value="Skriv ut">
    <input type="submit" name="printSafe" value="Skriv ut">
   </div>
  <div><p>Observera att läkarintyget inte ska skickas till Försäkringskassan under patientens sjuklöneperiod, dvs. de 14 första dagarna med sjukfrånvaro.</p></div>
</div>


        </div>
      </div>
    </div>
  </div>
</div>





          <div wc-cert-field field-number="7" field-label="view.label.workrehab" filled="cert.rehabiliteringAktuell||cert.rehabiliteringEjAktuell||cert.rehabiliteringGarInteAttBedoma">
          </div>


          <div wc-cert-field field-number="11" field-label="view.label.othertransport" filled="cert.ressattTillArbeteAktuellt || cert.ressattTillArbeteEjAktuellt">
          </div>

          <div wc-cert-field field-number="12" field-label="view.label.fkcontact" filled="true">
          </div>

          <div wc-cert-field field-number="13" field-label="view.label.otherinformation" filled="cert.kommentar">
          </div>

          <div wc-cert-field field-label="view.label.workcodes" field-number="17" filled="cert.forskrivarkodOchArbetsplatskod">
          </div>

        </div>
        <!-- cert body -->
      </div>
    </div>
  </div> <!-- certificate -->
</div>
