<div class="header-fix-top">
  <div class="header-wrapper" ng-hide="widgetState.collapsedHeader" ng-animate="'menucollapse'">
	  <div id="wcHeader" wc-header default-active="index">
	  </div>
  </div>
  <div class="header-fix-panel">
	  <div class="header-fix-top-expand">
	    <div class="header-fix-top-expand-wrapper">
	      <button class="btn btn-link" ng-click="toggleHeader()"><span ng-if="widgetState.collapsedHeader">Visa</span><span ng-if="!widgetState.collapsedHeader">Dölj</span> meny</button>
	    </div>
	  </div>
    <a class="backlink-icon" href="/web/dashboard#/create" title="Tillbaka till Skriv intyg"></a>
    <h1 style="display: inline-block; margin-right: 20px;"><span message key="view.label.pagetitle.fk7263"></span></h1>
    <div class="inline-block">
      <label class="control-label">{{cert.patientNamn || "Per Persson"}} - {{cert.patientPersonnummer || "19361123-5678"}}</label>
    </div>
    <div class="control-group buttonbar">
      <button class="btn btn-info" ng-click="save()">Spara</button>
      <button class="btn btn-secondary" ng-click="discard()">Ta bort utkast</button>
      <button class="btn btn-secondary" ng-if="!widgetState.showComplete" ng-click="toggleShowComplete()">Visa vad som behöver kompletteras</button>
      <button class="btn btn-secondary" ng-if="widgetState.showComplete" ng-click="toggleShowComplete()">Dölj vad som behöver kompletteras</button>
    </div>
    <div class="">
      <strong>Status:</strong> Intyget är sparat.
    </div>
  </div>
</div><!-- top end -->

<!-- FK 7263 -->
<div class="edit-form" ng-class="{'collapsed' : widgetState.collapsedHeader}">

  <div class="alert alert-error" ng-show="widgetState.showComplete" style="margin-right: 20px">
	  <h3>Följande fält behöver kompletteras:</h3>
	  Fält 2 - Kod saknas
	</div>

	<div id="certificate" class="row-fluid certificate">
		<div class="span12 cert-body">

            <div wc-field-single field-number="1">
                <input id="smittskydd" name="smittskydd" type="checkbox" ng-model="cert.avstangningSmittskydd" />
                <label for="smittskydd" class="control-label title-single"><span message key="view.label.smittskydd"></span></label>
            </div>

			<div wc-field field-label="view.label.basedon" field-number="4b" field-help-text="helpTooltip" ng-hide="cert.avstangningSmittskydd" ng-animate="'fade'">
                <div class="control-group form-inline">
                    <label class="checkbox" style="min-width: 250px"><input type="checkbox" name="informationBasedOn.examination" class="inline" ng-model="basedOnState.check.undersokningAvPatienten" ng-change="autoEnterDate('undersokningAvPatienten')"/> Min undersökning av patienten</label>
                    <span wc-date-picker-field target-model="cert.undersokningAvPatienten" on-change="basedOnState.check.undersokningAvPatienten = true" dom-id="undersokningAvPatienten-date"></span>
                </div>
                <div class="control-group form-inline">
                    <label class="checkbox" style="min-width: 250px"><input type="checkbox" name="informationBasedOn.phoneContact" ng-model="basedOnState.check.telefonkontaktMedPatienten" ng-change="autoEnterDate('telefonkontaktMedPatienten')" /> Min telefonkontakt med patienten</label>
                    <span wc-date-picker-field target-model="cert.telefonkontaktMedPatienten" on-change="basedOnState.check.telefonkontaktMedPatienten = true" dom-id="telefonkontaktMedPatienten-date"></span>
                </div>
                <div class="control-group form-inline">
                    <label class="checkbox" style="min-width: 250px"><input type="checkbox" name="informationBasedOn.journal" ng-model="basedOnState.check.journaluppgifter" ng-change="autoEnterDate('journaluppgifter')"/> Journaluppgifter</label>
                    <span wc-date-picker-field target-model="cert.journaluppgifter" on-change="basedOnState.check.journaluppgifter = true" dom-id="journaluppgifter-date"></span>
                </div>

                <div class="control-group form-inline">
                    <label class="checkbox" style="min-width: 250px"><input type="checkbox" name="informationBasedOn.other" ng-model="basedOnState.check.annanReferens" ng-change="autoEnterDate('annanReferens')"/> Annat</label>
                    <span wc-date-picker-field target-model="cert.annanReferens" on-change="basedOnState.check.annanReferens = true" dom-id="annanReferens-date"></span>
                </div>

                <div class="otherText indent" ng-if="basedOnState.check.annanReferens">
                    <span>Ange vad:</span><br />
                    <textarea id="informationBasedOn.otherText"	name="informationBasedOn.otherText" rows='2' class='otherInformation' ng-model="cert.otherData.baseradPaAnnat" ng-change="limitOtherField('baseradPaAnnat)"></textarea>
                    <div class="counter">
                      Tecken kvar: {{inputLimits.ovrigt - getTotalOvrigtLength()}}
                    </div>
                    <div class="info-transfer">Informationen överförs till "Övriga upplysningar" i Försäkringskassans blankett.</div>
                </div>
			</div>

			<div wc-field field-label="view.label.diagnosis" field-number="2" field-help-text="helpTooltip" ng-hide="cert.avstangningSmittskydd" ng-animate="'fade'">
                <div class="row-fluid control-group">
                    <div class='span3'>
                        <label class="control-label">ICD 10</label>
                        <div class="row-fluid controls">
                            <input type="text" id="diagnose.code" name="diagnose.code"
                                value="" class='diagnose-code span11' ng-model="cert.diagnosKod" typeahead="d.value as d.label for d in diagnose_codes | filter:$viewValue | limitTo:8">
                        </div>
                    </div>
                    <div class='span9'>
                        <label class="control-label">Diagnos</label>
                        <div class="row-fluid controls">
                            <input type="text" id="diagnose.description" class="span12"
                                name="diagnose.description" value="" ng-model="cert.diagnosBeskrivning" typeahead="d.value as d.label for d in diagnoses | filter:$viewValue | limitTo:8">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class='span3'>
                        <label class="control-label">ICD 10</label>
                        <div class="controls">
                            <input type="text" id="diagnose.codeOpt1" name="diagnose.codeOpt1" value="" class="span11">
                            <input type="text" id="diagnose.codeOpt2" name="diagnose.codeOpt2" value="" class="span11">
                        </div>
                    </div>
                    <div class='span9 unbreakable'>
                        <label class="control-label inline-block">Ytterligare	diagnoser (frivilligt)</label><span class="help">?</span>
                        <div class="controls">
                            <input type="text" id="diagnose.descriptionOpt1"
                                name="diagnose.descriptionOpt1" value="" class="block span12">
                            <input type="text" id="diagnose.descriptionOpt2"
                                name="diagnose.descriptionOpt2" value="" class="block span12">
                        </div>
                    </div>
                </div>

                <div class="control-group form-inline">
                    <div>
                      <label class="control-label">Förtydligande av diagnos/diagnoser</label><span class="help">?</span>
                    </div>
                    <textarea id="diagnose.clarification" name="diagnose.clarification" rows='5'
                      ng-model="cert.diagnosBeskrivning" maxlength="{{inputLimits.diagnosBeskrivning}}" ng-change="limitFieldLength('diagnosBeskrivning')"></textarea>
                    <div class="counter">
                        Tecken kvar: {{inputLimits.diagnosBeskrivning - cert.diagnosBeskrivning.length}}
                    </div>
                </div>

                <div class="control-group form-inline">
                    <input type="checkbox" id="diagnose.multipleDiagnoses" name="diagnose.multipleDiagnoses" ng-model="cert.otherData.samsjuklighet" />
                    <label for="diagnose.multipleDiagnoses">Samsjuklighet föreligger</label><span class="help">?</span>
                </div>
			</div>

            <div wc-field field-label="view.label.progressofdisease" field-number="3" field-help-text="helpTooltip" ng-hide="cert.avstangningSmittskydd" ng-animate="fade">
                <textarea id="diseaseCause" name="diseaseCause" rows='5' ng-model="cert.sjukdomsforlopp" ng-change="limitFieldLength('sjukdomsforlopp')"></textarea>
                <div class="counter">Tecken kvar: {{inputLimits.sjukdomsforlopp - cert.sjukdomsforlopp.length}}</div>
            </div>

			<div wc-field field-label="view.label.disabilities" field-number="4" field-help-text="helpTooltip" ng-hide="cert.avstangningSmittskydd" ng-animate="'fade'">
                <a class="soclink" href="http://www.socialstyrelsen.se/riktlinjer/forsakringsmedicinsktbeslutsstod" target="_blank"
                    title="Öppnar Socialstyrelsens beslutstöd för angiven huvuddiagnos">Socialstyrelsens försäkringsmedicinska beslutstöd</a>
                <textarea id="disabilities" name="disabilities" rows='6' ng-model="cert.funktionsnedsattning" maxlength="{{inputLimits.funktionsnedsattning}}" ng-change="limitFieldLength('funktionsnedsattning')"></textarea>
                <div class="counter">Tecken kvar: {{inputLimits.funktionsnedsattning - cert.funktionsnedsattning.length}}</div>
			</div>

			<div wc-field field-label="view.label.limitation" field-number="5" field-help-text="helpTooltip" ng-hide="cert.avstangningSmittskydd" ng-animate="'fade'">
                <a class="soclink" href="http://www.socialstyrelsen.se/riktlinjer/forsakringsmedicinsktbeslutsstod" target="_blank"
                    title="Öppnar Socialstyrelsens beslutstöd för angiven huvuddiagnos">Socialstyrelsens försäkringsmedicinska beslutstöd</a>
                <textarea id="activityLimitation" name="activityLimitation"	rows='10' ng-model="cert.aktivitetsbegransning" maxlength="{{inputLimits.aktivitetsbegransning}}" ng-change="limitFieldLength('aktivitetsbegransning')"></textarea>
                <div class="counter">Tecken kvar: {{inputLimits.aktivitetsbegransning - cert.aktivitetsbegransning.length}}</div>
			</div>

            <!-- Arbete -->
			<div wc-field field-label="view.label.work" field-number="8a" field-help-text="helpTooltip" ng-hide="cert.avstangningSmittskydd" ng-animate="'fade'">
                <div class="control-group form-inline">
                    <label class="control-label"><span message key="view.label.patientworkcapacity"></span></label>
                    <div class="controls form-inline">
                        <label class="radio"><input type="radio" name="basedOnWork" value="CURRENT" ng-model="cert.basedOnWork" checked="checked"> Nuvarande arbete</label><span class="help">?</span>
                        <div class="indent" ng-if="cert.basedOnWork == 'CURRENT'">
                            <label for="currentWork">Ange aktuella arbetsuppgifter</label>
                            <div class="controls">
                                <textarea id="currentWork" name="currentWork" rows='2' ng-model="cert.nuvarandeArbetsuppgifter" maxlength="{{inputLimits.nuvarandeArbetsuppgifter}}" ng-change="limitFieldLength('nuvarandeArbetsuppgifter')"></textarea>
                                <div class="counter">
                                    Tecken kvar: {{inputLimits.nuvarandeArbetsuppgifter - cert.nuvarandeArbetsuppgifter.length}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group form-inline">
                    <label class="radio"><input type="radio" name="basedOnWork" group="group1" value="UNEMPLOYMENT" ng-model="cert.basedOnWork"> Arbetslöshet - att utföra arbete på den reguljära arbetsmarknaden</label><span class="help">?</span>
                </div>
                <div class="control-group form-inline">
                    <label class="radio"><input type="radio" name="basedOnWork" group="group1" value="PARENTAL_LEAVE" ng-model="cert.basedOnWork"> Föräldraledighet med föräldrapenning - att vårda sitt barn</label><span class="help">?</span>
                </div>
			</div>

            <!-- Arbetsförmåga -->
			<div wc-field field-label="view.label.nedsattning" field-number="8b" field-help-text="helpTooltip">
                <div class="control-group">
                    Faktisk tjänstgöringstid <input style="width: 3em;" type="text"
                        id="capacityForWork.actualWorkingHoursPerWeek"
                        name="capacityForWork.actualWorkingHoursPerWeek" value=""
                        class='short control-element'
                        ng-model="cert.workTime"> <span>timmar/vecka</span>
                </div>

                <!-- 25% -->
                <div class="control-group form-inline">
                    <label class="checkbox" style="min-width: 250px"><input type="checkbox" name="capacityForWork.work25" ng-model="workState.check25"/> 25% nedsatt arbetsförmåga från</label>
                    <span wc-date-picker-field target-model="cert.nedsattMed25.start" on-change="updateTotalCertDays()" dom-id="nedsattMed25-start-date"></span>
                    <span>till</span>
                    <span wc-date-picker-field target-model="cert.nedsattMed25.end" on-change="updateTotalCertDays()" dom-id="nedsattMed25-end-date"></span>
                    <div class="indent pad10" ng-if="workState.check25">
                        <div class="workHoursPerWeek" ng-show="cert.workTime != '' && cert.workTime > 0">
                            Arbetstid timmar/vecka: <strong>{{cert.workTime / 4}}</strong>
                        </div>
                        Arbetstidsförläggning (frivilligt) <input type="text" ng-model="cert.otherData.workingHours25" id="capacityForWork.rec25LongerWorkingHours" name="capacityForWork.rec25LongerWorkingHours" value="" class='otherInformation' ng-change="limitOtherField('workingHours25')">
                        <span class="counter">Tecken kvar:  {{inputLimits.ovrigt - getTotalOvrigtLength()}}</span>
                        <div class="info-transfer">Informationen överförs till "Övriga upplysningar" i Försäkringskassans blankett.</div>
                    </div>
                </div>

                <!-- 50% -->
                <div class="control-group form-inline">
                    <label class="checkbox" style="min-width: 250px"><input type="checkbox" name="capacityForWork.work50" ng-model="workState.check50" /> 50% nedsatt arbetsförmåga från</label>
                    <span wc-date-picker-field target-model="cert.nedsattMed50.start" on-change="updateTotalCertDays()" dom-id="nedsattMed50-start-date"></span>
                    <span>till</span>
                    <span wc-date-picker-field target-model="cert.nedsattMed50.end" on-change="updateTotalCertDays()" dom-id="nedsattMed50-end-date"></span>
                    <div class="indent pad10" ng-if="workState.check50">
                                    <div class="workHoursPerWeek" ng-show="cert.workTime != '' && cert.workTime > 0">
                                        Arbetstid timmar/vecka: <strong>{{cert.workTime / 2}}</strong>
                                    </div>
                                    Arbetstidsförläggning (frivilligt) <input type="text"	ng-model="cert.otherData.workingHours50" id="capacityForWork.rec50LongerWorkingHours" name="capacityForWork.rec50LongerWorkingHours" value=""
                                        class='otherInformation' ng-change="limitOtherField('workingHours50')">
                      <span class="counter">Tecken kvar:  {{inputLimits.ovrigt - getTotalOvrigtLength()}}</span>
                      <div class="info-transfer">Informationen överförs till "Övriga upplysningar" i Försäkringskassans blankett.</div>
                    </div>
                </div>

                <!-- 75% -->
                <div class="control-group form-inline">
                    <label class="checkbox" style="min-width: 250px"><input type="checkbox" name="capacityForWork.work75" ng-model="workState.check75" /> 75% nedsatt arbetsförmåga från</label>
                    <span wc-date-picker-field target-model="cert.nedsattMed75.start" on-change="updateTotalCertDays()" dom-id="nedsattMed75-start-date"></span>
                    <span>till</span>
                    <span wc-date-picker-field target-model="cert.nedsattMed75.end" on-change="updateTotalCertDays()" dom-id="nedsattMed75-end-date"></span>
                    <div class="indent pad10" ng-if="workState.check75">
                        <div class="workHoursPerWeek" ng-show="cert.workTime != '' && cert.workTime > 0">
                            Arbetstid timmar/vecka: <strong>{{cert.workTime * 0.75}}</strong>
                        </div>
                        Arbetstidsförläggning (frivilligt) <input type="text" ng-model="cert.otherData.workingHours75"
                            id="capacityForWork.rec75LongerWorkingHours"
                            name="capacityForWork.rec75LongerWorkingHours" value=""
                            class='otherInformation'  ng-change="limitOtherField('workingHours75')">
                       <span class="counter">Tecken kvar:  {{inputLimits.ovrigt - getTotalOvrigtLength()}}</span>
                        <div class="info-transfer">Informationen överförs till "Övriga upplysningar" i Försäkringskassans blankett.</div>
                    </div>
                </div>

                <!-- 100% -->
                <div class="control-group form-inline">
                    <label class="checkbox" style="min-width: 250px"><input type="checkbox" name="capacityForWork.workFull" ng-model="workState.check100" /> Helt nedsatt arbetsförmåga från</label>
                    <span wc-date-picker-field target-model="cert.nedsattMed100.start" on-change="updateTotalCertDays()" dom-id="nedsattMed100-start-date"></span>
                    <span>till</span>
                    <span wc-date-picker-field target-model="cert.nedsattMed100.end" on-change="updateTotalCertDays()" dom-id="nedsattMed100-end-date"></span>
                </div>

                <div ng-show="totalCertDays">
                    Detta intyg motsvarar en period på: {{totalCertDays}}
                </div>
			</div>

			<div wc-field field-label="view.label.patientworkcapacityjudgement" field-number="9" field-help-text="helpTooltip">
                <a class="soclink" href="http://www.socialstyrelsen.se/riktlinjer/forsakringsmedicinsktbeslutsstod" target="_blank"
                    title="Öppnar Socialstyrelsens beslutstöd för angiven huvuddiagnos">Socialstyrelsens försäkringsmedicinska beslutstöd</a>
                <textarea id="capacityForWork.text" name="capacityForWork.text"	rows='10' ng-model="cert.arbetsformagaPrognos" maxlength="{{inputLimits.arbetsformagaPrognos}}" ng-change="limitFieldLength('arbetsformagaPrognos')"></textarea>
                <div class="counter">
                    Tecken kvar: {{inputLimits.arbetsformagaPrognos - cert.arbetsformagaPrognos.length}}
                </div>
			</div>

            <!-- Prognos -->
			<div wc-field field-label="view.label.prognosis" field-number="10" field-help-text="helpTooltip">
                <a class="soclink" href="http://www.socialstyrelsen.se/riktlinjer/forsakringsmedicinsktbeslutsstod" target="_blank"
                    title="Öppnar Socialstyrelsens beslutstöd för angiven huvuddiagnos">Socialstyrelsens försäkringsmedicinska beslutstöd</a>
                <div class="form-inline">
                    <div class="control-group">
                        <label class="radio"><input type="radio" name="capacityForWork.forecast" value="YES" ng-model="cert.prognosis" checked="checked"> Ja</label>
                    </div>

                    <div class="control-group">
                        <label class="radio"><input type="radio" id="capacityForWork2" name="capacityForWork.forecast" value="PARTLY" ng-model="cert.prognosis"> Delvis</label>
                    </div>

                    <div class="control-group">
                        <label class="radio"><input type="radio" id="capacityForWork3" name="capacityForWork.forecast" value="NO" ng-model="cert.prognosis"> Nej</label>
                    </div>

                    <div class="control-group">
                        <label class="radio"><input type="radio" id="capacityForWork4" name="capacityForWork.forecast" value="UNKNOWN" ng-model="cert.prognosis"> Går ej att bedöma</label>
                        <div class="indent" ng-show="cert.prognosis == 'UNKNOWN'">
                            Förtydligande: <input type="text"	ng-model="cert.otherData.prognosisClarification" id="capacityForWork.forecastText"	name="capacityForWork.forecastText" value=""
                                        class='otherInformation' ng-change="limitOtherField('prognosisClarification')"> Tecken kvar: {{inputLimits.ovrigt - getTotalOvrigtLength()}}
                            <div class="info-transfer">Informationen överförs till "Övriga upplysningar" i Försäkringskassans blankett.</div>
                        </div>
                    </div>
                </div>
			</div>

            <!-- Åtgärder -->
			<div wc-field field-label="view.label.treatments" field-number="6b" field-help-text="helpTooltip">
                <div class="control-group">
                    <label class="control-label">Planerad eller pågående behandling eller åtgärd inom sjukvården (ange vilken)</label>
                    <textarea id="measures.current" name="measures.current" rows='1' ng-model="cert.atgardInomSjukvarden" maxlength="{{inputLimits.atgardInomSjukvarden}}" ng-change="limitFieldLength('atgardInomSjukvarden')"></textarea>
                    <div class="counter">
                        Tecken kvar: {{inputLimits.atgardInomSjukvarden - cert.atgardInomSjukvarden.length}}
                    </div>
				</div>

                <div class="control-group">
					<label class="control-label">Annan åtgärd (ange vilken)</label>
					<textarea id="measures.other" name="measures.other" rows='1' ng-model="cert.annanAtgard" maxlength="{{inputLimits.annanAtgard}}" ng-change="limitFieldLength('annanAtgard')"></textarea>
					<div class="counter">Tecken kvar: {{inputLimits.annanAtgard - cert.annanAtgard.length}}</div>
			    </div>
            </div>

            <!-- Rekommendationer -->
			<div wc-field field-label="view.label.recommendations" field-number="6a, 7, 11" field-help-text="helpTooltip" class="form-inline">
                <div class="control-group">
					<label class="checkbox"><input type="checkbox" name="recommendationsToFk.travel" ng-model="cert.ressattTillArbeteAktuellt"> Resor till och från arbetet med annat färdmedel än normalt kan göra det möjligt för patienten att återgå i arbete</label> <span class="help">?</span>
				</div>
                <div class="control-group">
					<label class="checkbox"><input type="checkbox" name="recommendationsToFk.contactAf" ng-model="cert.rekommendationKontaktArbetsformedlingen"> Patienten bör komma i kontakt med arbetsförmedlingen</label> <span class="help">?</span>
                </div>
                <div class="control-group">
				    <label class="checkbox"><input type="checkbox" name="recommendationsToFk.contactCompanyCare" ng-model="cert.rekommendationKontaktForetagshalsovarden"> Patienten bör	komma i kontakt med företagshälsovården</label> <span class="help">?</span>
                </div>
                <div class="control-group">
					<label class="checkbox"><input type="checkbox" name="recommendationsToFk.other" ng-model="cert.rekommendationOvrigtCheck" /> Övrigt (ange vad)</label>
  				    <div class="indent" ng-if="cert.rekommendationOvrigtCheck || (cert.rekommendationOvrigt && cert.rekommendationOvrigt != '')">
  				        <input type="text" id="recommendationsToFk.otherText" name="recommendationsToFk.otherText" value="" class='maxwidth' ng-model="cert.rekommendationOvrigt">
  				    </div>
                </div>

    			<h4 class="inline-block">Är arbetslivsinriktad rehabilitering aktuell?</h4><span class="help">?</span>

                <!-- Rehab -->
                <!-- YES -->
                <div class="control-group">
	   				<label class="radio"><input type="radio" name="recommendationsToFk.reabInQuestion" value="YES" ng-model="cert.rehab"> Ja</label>
					<div class="indent" ng-show="cert.rehab == 'YES'">
						<label class="radio"><input type="radio" name="recommendationsToFk.rehabNow" value="NOW" ng-model="cert.rehabNow" checked> Omgående</label><br>
                        <label class="radio"><input type="radio" name="recommendationsToFk.rehabNow" value="LATER" ng-model="cert.rehabNow"> Senare, med start</label>
                        <span wc-date-picker-field target-model="cert.otherData.rehabWhen" dom-id="cert-otherData-rehabWhen-date"></span>
						<div class="info-transfer" style="white-space: nowrap">Informationen överförs till "Övriga upplysningar" i Försäkringskassans blankett.</div>
					</div>
                </div>

                <!-- NO -->
                <div class="control-group">
	                <label class="radio"><input type="radio" name="recommendationsToFk.reabInQuestion" group="group3" value="NO" ng-model="cert.rehab" checked="checked"> Nej</label>
                </div>

                <!-- UNKNOWN -->
                <div class="control-group">
	                <label class="radio"><input type="radio" name="recommendationsToFk.reabInQuestion" group="group3" value="UNKNOWN" ng-model="cert.rehab"> Går ej att bestämma</label>
                </div>
			</div>

			<div wc-field field-label="edit.label.fkcontact" field-number="12" field-help-text="helpTooltip">
                <label class="checkbox"><input type="checkbox" name="contactWithFkRequested" ng-model="cert.kontaktMedFk" /> Kontakt önskas med	Försäkringskassan</label>
			</div>

			<div wc-field field-label="view.label.otherinformation" field-number="13" field-help-text="helpTooltip">
                <textarea name="otherInformation" rows='10'	class='otherInformation' ng-model="cert.kommentar" ng-change="limitOtherField('kommentar')"></textarea>
                <div class="counter">Tecken kvar: {{inputLimits.ovrigt - getTotalOvrigtLength()}}</div>
			</div>

			<div wc-field field-label="view.label.unitaddress" field-number="15" field-help-text="helpTooltip">
                <label class="control-label">VårdEnhetA (0123456789012), IFV Testdata</label>

                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">Postadress</label>
                        <div class="controls">
                            <input type="text" id="clinicInfo.postalAddress" name="clinicInfo.postalAddress" value="Agatan 12">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Postnummer</label>
                        <div class="controls">
                            <input type="text" id="clinicInfo.postalCode" name="clinicInfo.postalCode" value="12345">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Postort</label>
                        <div class="controls">
                            <input type="text" id="clinicInfo.postalCity" name="clinicInfo.postalCity" value="Teststad">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Telefonnummer</label>
                        <div class="controls">
                            <input type="text" id="clinicInfo.phone" name="clinicInfo.phone" value="023-2234324" >
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Epost</label>
                        <div class="controls">
                            <input type="text" id="clinicInfo.email" name="clinicInfo.email" value="mats.ekhammar@callistaenterprise.se">
                        </div>
                    </div>
                </div>
			</div>

		</div>
		<!-- cert body -->

	</div>
	<!-- certificate -->

	<h2>Signera och skicka</h2>
	<div class="form-inline">
    <div class="control-group">
      <label class="radio"><input name="send" type="radio" checked> Patienten vill ha intyget elektroniskt, och själv skicka det till Försäkringskassan via Mina intyg</label>
    </div>
    <div class="control-group">
      <label class="radio"><input name="send" type="radio"> Patienten vill att intyget skickas elektroniskt direkt till Föräkringskassan</label>
    </div>
    <div class="control-group">
      <label class="radio"><input name="send" type="radio"> Patienten vill ha intyget på papper och skickar det själv till Försäkringskassan</label>
    </div>
	</div>
	<div class="row-fluid">
        <div class="span5">
            <div class="alert alert-warning">
                Observera att läkarintyget inte ska skickas till Försäkringkassan under patientens sjuklöneperiod, det vill säga de 14 första dagarna med sjukfrånvaro.
            </div>
            <div class="control-group">
              <label class="checkbox"><input id="consent" name="consent" type="checkbox"> Patienten samtycker till att läkarintyget skickas direkt till Försäkringskassan</label>
              <p><button class="btn btn-success">Signera intyget och skicka direkt till Försäkringskassan</button></p>
              <p><button class="btn btn-success">Signera intyget utan att skicka till Försäkringskassan</button></p>
            </div>
        </div>
	</div>
</div>
